html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button:focus {
  outline: none;
}
img {
  width: 100%;
}
.side-drawer {
  transform: translate(-110%,-110%);
  transition: transform 0.3s ease-out;
}
.open {
  transform: translate(0,0);
}
.hide {
  opacity: 0;
  z-index: -1;
  transition: all ease-in 0.35s;
}